.clearfix:after{ 
	content: “.”; 
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
*html .clearfix{ 
	zoom: 1;
}

.bannerlayer{
	padding-top: 50px;
}


.switchlayer{
	font-size: 25px;
    text-align: center;
    line-height: 50px;
    margin: 30px auto;
    color: #61b78a;
}

.btnactive{
	background: #61b78a;
	color: white;
}

.download{
	border: 1px solid #61b78a;
	position: relative;
	left: 10%;
}

.recharge{
	border: 1px solid #61b78a;
	position: relative;
	left: 20%;
}

.forminput{
	margin: 20px auto;
    width: 50%;
    left: 22%;
}